{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <section class="registration">
            <div class="container">
                <div class="email-check">
                    <h2>Reset Password</h2>
                    <p>An email has been sent to {{ user.username }}. It contains a link you must click to reset your password.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
